.flexcontainer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .flexcontainer a {
    color: white;
    font-weight: 700;
    font-size: 3em;
    text-decoration: none; }
  .flexcontainer li {
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: cornflowerblue; }

h1 {
  margin-top: 2em;
  text-align: center;
  font-family: sans-serif; }

.body {
  font-family: Helvetica Neue, sans-serif, Arial;
  font-size: p;
    font-size-font-size: 14pt;
    font-size-font-weight: 400; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  font-weight: bold;
  text-align: center; }

.wrapper > * {
  padding: 10px;
  flex: 1 100%; }

.header {
  background-color: white;
  height: 300px;
  border-bottom: 3px #38e038 solid;
  box-shadow: inset 1px 3px 15px lightgray; }
  .header .round {
    border-radius: 70px;
    background-color: white;
    border: #38e038 5px solid;
    box-shadow: 1px 3px 15px lightgray;
    position: relative;
    top: 4em; }
  .header .name {
    font-weight: 300;
    line-height: 1.8em; }

.flex-items {
  padding: 30px;
  margin: 10px;
  box-shadow: 1px 3px 15px lightgray;
  border: #38e038 2px solid;
  background-color: white; }

.footer {
  border-top: 3px #38e038 solid; }

.main {
  text-align: left;
  background-color: lightgreen; }
